<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create class</title>
</head>
<body>
<a href="/admin">
    <img th:src="@{/Logo.png}" height="100" width="100" alt="Logo Error"/>
</a> <br>
<a href="/admin/studentmanagement/classes">Back</a>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<span th:if="${success}" th:text="#{success.create}"></span>
<form method="post" th:object="${newClass}">
    <table>
        <tr>
            <td th:text="#{label.class}"></td>
            <td><input type="text" th:field="*{name}"></td>
            <td><p th:each="error: ${#fields.errors('name')}"
                   th:text="${error}"></p></td>
        </tr>
        <tr>
            <td th:text="#{label.program}"></td>
            <td>
                <select th:field="*{program}">
                    <option th:each="p : ${programs}" th:value="${p.id}"
                            th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{label.createClass}"></td>
        </tr>
    </table>
</form>
</body>
</html>
