<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Program</title>
</head>
<body>
<a href="/admin">
    <img th:src="@{/Logo.png}" height="100" width="100" alt="Logo Error"/>
</a> <br>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<a href="/admin/questionbank/program">Back</a>
<span th:if="${success}" th:text="#{success.edit}"></span>
<form th:object="${programEdit}" th:action="@{/admin/questionbank/program/edit}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{label.name}"></td>
            <td><input type="text" th:field="*{name}"></td>

            <td th:text="#{label.image}"></td>
            <td><input type="file" th:field="*{image}"></td>

            <td></td>
            <td><input type="submit" th:value="#{label.edit}"></td>
        </tr>
    </table>
</form>
</body>
</html>