<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Program</title>
</head>
<body>
<a href="/admin">
    <img th:src="@{/Logo.png}" height="100" width="100" alt="Logo Error"/>
</a> <br>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<a href="/admin/questionbank/program/create">Create new program</a>
<h1>Program List</h1>
<table border="1">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="program : ${programList}">
        <td><img height="100px" width="100px" th:src="@{/__${program.avatar}__}" alt="Error"></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module}"><p th:text="${program.name}"></p></a></td>
        <td><a th:href="@{/admin/questionbank/program/edit/__${program.id}__}">Edit</a></td>
        <td><a th:href="@{/admin/questionbank/program/delete/__${program.id}__ }">Delete</a></td>
    </tr>
</table>
</body>
</html>