<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Answer List</title>
</head>
<body>
<a href="/admin">
    <img th:src="@{/Logo.png}" height="100" width="100" alt="Logo Error"/>
</a>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<span>
    <a th:href="@{/admin/questionbank/program}">
        <span th:text="${program.name}"></span>
    </a>/
    <a th:href="@{/admin/questionbank/program/__${program.id}__/module}">
        <span th:text="${module.name}"></span>
    </a>/
    <a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question}">
        <span th:text="${question.name}"></span>
    </a>
</span>
<h1>Question:  <span th:text="${question.name}"></span></h1>
<a
        th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer/create}">Create new answer</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="answer : ${answers}">
        <td th:text="${answer.name}"></td>
        <td th:text="${answer.status}"></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer/edit/__${answer.id}__ }">Edit</a></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer/delete/__${answer.id}__ }">Delete</a></td>
    </tr>
</table>
</body>
</html>