<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Answer Edit</title>
</head>
<body>
<a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer}">Back</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${answerEdit}" th:action="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer/edit}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Answer Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="radio" th:field="*{status}" th:value="true">
                <label>true</label>
            </td>
            <td>
                <input type="radio" th:field="*{status}" th:value="false">
                <label>false</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>