<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Student list</title>
</head>
<body>
<div>
    <a href="/admin">
        <img th:src="@{/Logo.png}" height="100" width="100" alt="Logo Error"/>
    </a>
</div>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<form>
    Search by name Student:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<a href="/admin/studentmanagement/classes">Back</a>
<h1>Student list</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Classes</th>
        <th>Program</th>
        <th>Email</th>
    </tr>
    <tr th:each="student : ${studentList}">
        <td th:text="${student.name}"></td>
        <td><img height="100px" width="100px" th:src="@{/__${student.avatar}__}"></td>
        <td th:text="${student.classes.name}"></td>
        <td th:text="${student.classes.program.name}"></td>
        <td th:text="${student.appUser.email}"></td>
    </tr>
</table>
<div>
    <a th:href="@{'/admin/studentmanagement/classes/__${classes.id}__/student'(s=${s},page=${studentList.number - 1})}" th:if="${studentList.hasPrevious()}">Previous</a>
    <span th:text="${studentList.number + 1}"></span>/<span th:text="${studentList.totalPages}"></span>
    <a th:href="@{'/admin/studentmanagement/classes/__${classes.id}__/student'(s=${s},page=${studentList.number + 1})}" th:if="${studentList.hasNext()}">Next</a>
</div>
</body>
</html>
