<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register student</title>
</head>
<body>
<a href="/admin/studentmanagement/classes">Back</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${newStudent}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{appUser.email}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{appUser.password}"></td>
            <div th:each="error: ${#fields.errors('password')}"
                 th:text="${error}"></div>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" th:field="*{image}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="tao moi"></td>
        </tr>
    </table>
</form>
</body>
</html>
