<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
<form>
    Search by name question:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<span>
    <a th:href="@{/admin/questionbank/program}">
        <span th:text="${program.name}"></span>
    </a>/
    <a th:href="@{/admin/questionbank/program/__${program.id}__/module}">
        <span th:text="${module.name}"></span>
    </a>
</span>
<h1>Question list:  <span th:text="${module.name}"></span></h1>
<a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/create}">Create new question</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="question : ${questionList}">
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer}"><p th:text="${question.name}"></p></a></td>
        <td th:text="${question.type}"></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/edit/__${question.id}__ }">Edit</a></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/delete/__${question.id}__ }">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/admin/questionbank/program/__${program.id}__/module/__${module.id}__/questions'(s=${s},page=${questions.number - 1})}" th:if="${questions.hasPrevious()}">Previous</a>
    <span th:text="${questions.number + 1}"></span>/<span th:text="${questions.totalPages}"></span>
    <a th:href="@{'/admin/questionbank/program/__${program.id}__/module/__${module.id}__/questions'(s=${s},page=${questions.number + 1})}" th:if="${questions.hasNext()}">Next</a>
</div>
</body>
</html>