<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
<a href="/admin">
    <img th:src="@{/Logo.png}" height="100" width="100" alt="Logo Error"/>
</a>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<span>
    <a th:href="@{/admin/questionbank/program}">
        <span th:text="${program.name}"></span>
    </a>/
    <a th:href="@{/admin/questionbank/program/__${program.id}__/module}">
        <span th:text="${module.name}"></span>
    </a>
</span>
<h1>Question list:  <span th:text="${module.name}"></span></h1>
<form>
    Search by name question:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/create}" th:text="#{label.create}"></a>
<table border="1">
    <tr>
        <th th:text="#{label.name}"></th>
        <th th:text="#{label.type}"></th>
        <th th:text="#{label.edit}"></th>
        <th th:text="#{label.delete}"></th>
    </tr>
    <tr th:each="question : ${questionList}">
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/__${question.id}__/answer}"><p th:text="${question.name}"></p></a></td>
        <td th:text="${question.type}"></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/edit/__${question.id}__ }" th:text="#{label.edit}"></a></td>
        <td><a th:href="@{/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question/delete/__${question.id}__ }" th:text="#{label.delete}"></a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question'(s=${s},page=${questionList.number - 1})}" th:if="${questionList.hasPrevious()}" th:text="#{label.previous}"></a>
    <span th:text="${questionList.number + 1}"></span>/<span th:text="${questionList.totalPages}"></span>
    <a th:href="@{'/admin/questionbank/program/__${program.id}__/module/__${module.id}__/question'(s=${s},page=${questionList.number + 1})}" th:if="${questionList.hasNext()}" th:text="#{label.next}"></a>
</div>
</body>
</html>