<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Module Edit</title>
</head>
<body>
<a th:href="@{/admin/questionbank/program/__${program.id}__/module}">Back</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${moduleEdit}" th:action="@{/admin/questionbank/program/__${programId}__/module/edit}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Module Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>