<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
<a th:href="@{/admin/quizmanagement/quiz/create}">Create new quiz</a>
<h1>Quiz list</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Program</th>
        <th>Module</th>
        <th>Time</th>
        <th>MPS</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="quiz : ${quizList}">
        <td><a th:href="@{/admin/quizmanagement/quiz/view/__${quiz.id}__}"><p
                th:text="${quiz.id}"></p></a></td>
        <td th:text="${quiz.questions[0].module.program.name}"></td>
        <td th:text="${quiz.questions[0].module.name}"></td>
        <td th:text="${quiz.time}"></td>
        <td th:text="${quiz.MPS}"></td>
        <td><a th:href="@{/admin/quizmanagement/quiz/edit/__${quiz.id}__}">Edit</a></td>
        <td><a th:href="@{/admin/quizmanagement/quiz/delete/__${quiz.id}__}">Delete</a></td>
    </tr>
</table>
</body>
</html>