<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create class</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<span th:if="${success}" th:text="#{success.createClass}"></span>
<form method="post" th:object="${newQuiz}">
    <table>
        <tr>
            <td th:text="MPS"></td>
            <td><input type="number" th:field="*{MPS}"></td>
            <td><p th:each="error: ${#fields.errors('MPS')}"
                   th:text="${error}"></p></td>
        </tr>
        <tr>
            <td th:text="Time in minute"></td>
            <td><input type="number" th:field="*{time}"></td>
            <td><p th:each="error: ${#fields.errors('time')}"
                   th:text="${error}"></p></td>
        </tr>
        <tr>
            <td th:text="Easy question"></td>
            <td>
                <select th:name="easyQuestionCount">
                    <option th:each="i : ${#numbers.sequence(0,${easyQuestionCount})}"
                            th:value="${i}"
                            th:text="${i}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="Medium question"></td>
            <td>
                <select th:name="mediumQuestionCount">
                    <option th:each="i : ${#numbers.sequence(0,${mediumQuestionCount})}"
                            th:value="${i}"
                            th:text="${i}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="Easy question"></td>
            <td>
                <select th:name="hardQuestionCount">
                    <option th:each="i : ${#numbers.sequence(0,${hardQuestionCount})}"
                            th:value="${i}"
                            th:text="${i}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="Create quiz"></td>
        </tr>
    </table>
</form>
</body>
</html>
