<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create class</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#programList').click(function (event) {
                let program = $('#programList').val();
                let json = {
                    id:program
                }
                $.ajax({
                    headers: {
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                    },
                    type:"POST",
                    data: JSON.stringify(json),
                    url: "/admin/api/getModuleByProgram",
                    success: (modules) => {
                        let content = '';
                        for (let i = 0; i < modules.length; i++) {
                            content +=
                                `<option value="${modules[i].id}">${modules[i].name}</option>`
                        }
                        document.getElementById('moduleList').innerHTML=content;
                    }
                })
                event.preventDefault();
            })
        })
        $(document).ready(function () {
            $('#moduleList').click(function (event) {
                let module = $('#moduleList').val();
                $.ajax({
                    headers: {
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                    },
                    type:"POST",
                    url: "/admin/api/getQuestionCountByModuleAndType/" + module +
                        "/1",
                    success: (count) => {
                        console.log(count);
                        let content = '';
                        for (let i = 0; i < count; i++) {
                            content +=
                                `<option value="${i+1}">${i+1}</option>`
                        }
                        document.getElementById('easyQuestionCount').innerHTML=content;
                    }
                })
                $.ajax({
                    headers: {
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                    },
                    type:"POST",
                    url: "/admin/api/getQuestionCountByModuleAndType/" + module +
                        "/2",
                    success: (count) => {
                        console.log(count);
                        let content = '';
                        for (let i = 0; i < count; i++) {
                            content +=
                                `<option value="${i+1}">${i+1}</option>`
                        }
                        document.getElementById('mediumQuestionCount').innerHTML=content;
                    }
                })
                $.ajax({
                    headers: {
                        'Accept':'application/json',
                        'Content-Type':'application/json'
                    },
                    type:"POST",
                    url: "/admin/api/getQuestionCountByModuleAndType/" + module +
                        "/3",
                    success: (count) => {
                        console.log(count);
                        let content = '';
                        for (let i = 0; i < count; i++) {
                            content +=
                                `<option value="${i+1}">${i+1}</option>`
                        }
                        document.getElementById('hardQuestionCount').innerHTML=content;
                    }
                })
                event.preventDefault();
            })
        })
    </script>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <span sec:authentication="principal.username"></span>, <a href="/logout">logout</a>.
</div>
<span th:if="${success}" th:text="#{success.create}"></span>
<form method="post" th:object="${newQuiz}">
    <table>
        <tr>
            <td>Program</td>
            <td>
                <select name="" id="programList">
                    <option th:each="program:${programs}"
                            th:value="${program.id}"
                            th:text="${program.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Module</td>
            <td>
                <select name="moduleId" id="moduleList">
                </select>
            </td>
        </tr>
        <tr>
            <td>MPS</td>
            <td><input type="number" th:field="*{MPS}"></td>
            <td><p th:each="error: ${#fields.errors('MPS')}"
                   th:text="${error}"></p></td>
        </tr>
        <tr>
            <td>Time in minute</td>
            <td><input type="number" th:field="*{time}"></td>
            <td><p th:each="error: ${#fields.errors('time')}"
                   th:text="${error}"></p></td>
        </tr>
        <tr>
            <td>Easy Question</td>
            <td>
                <select id="easyQuestionCount" th:name="easyQuestionCount">
                </select>
            </td>
        </tr>
        <tr>
            <td>Medium Question</td>
            <td>
                <select id="mediumQuestionCount" th:name="mediumQuestionCount">
                </select>
            </td>
        </tr>
        <tr>
            <td>Hard question</td>
            <td>
                <select id="hardQuestionCount" th:name="hardQuestionCount">
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create quiz"></td>
        </tr>
    </table>
</form>
</body>
</html>
