<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Module List</title>
</head>
<body>
<a href="/program">Program List</a>
<h1>Program List: <span th:text="${program.name}"></span> </h1>
<a href="program/module/create">Create new module</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="module : ${moduleList}">
        <td><a th:href="@{/program/module/__${module.moduleId}__/question}"><p th:text="${module.name}"></p></a><</td>
        <td><a th:href="@{/program/module/edit/__${module.moduleId}__ }">Edit</a></td>
        <td><a th:href="@{/program/module/delete/__${module.moduleId}__ }">Delete</a></td>
    </tr>
</table>
</body>
</html>